body{
    background-color: black;
}

.strangeVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    height: 100%;
    width: 100%;
}

#root{
    z-index: 1;
}

.father{
    position: relative;
}

.banner img{
    width: 100%;
}

.introMarvel{
    width: 100%;
}

@media (min-width: 991px){
    video{
        display: block !important;
    }
}